

.form_input {
}
.individual_or_company__input {
    display: inline-flex;
}

.contact_instruction {
    max-width: 400px;
    text-align: center;
    align-self: center;
}






.contact_me_success {
    min-height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}